<div class="container">
  <h1>My Bids</h1>

  <form>
    <div class="form-group">
      <label for="query">query</label>
      <input #query ngControl="query" type="text" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-default"
            (click)="search(query.value)">Create
    </button>
  </form>

  <table border="1" class="table table-striped">
    <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Current Bid</th>
    <th>State</th>
    </thead>
    <tbody>
    <tr *ngFor="#bid of bids">
      <td>{{bid.id}}</td>
      <td>{{bid.title}}</td>
      <td>{{bid.bid}}</td>
      <td>{{bid.state}}</td>
    </tr>
    </tbody>
  </table>
</div>
