<div class="container">
  <h1>Login or Register</h1>
  <form>
    <div class="form-group">
      <label for="user">Name</label>
      <input #user ngControl="user" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input #password ngControl="password" type="text" class="form-control"
             required>
    </div>
    <button type="submit" class="btn btn-default"
            (click)="create(user.value, password.value)">Create
    </button>
    <button type="submit" class="btn btn-default"
            (click)="login(user.value, password.value)">Login
    </button>
  </form>
</div>