<!DOCTYPE html>
<html lang="en" ng-app="auctionApp">
<head>
  <meta charset="utf-8">
  <title>Auction</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-resource.js"></script>

  <script src="baratine-js.js"></script>

  <script>
    var auctionApp = angular.module("auctionApp", []);

    auctionApp.controller('AuctionListCtrl', function ($scope)
    {
      $scope.auctions = [];

      $scope.userForm = ['form-inline'];
      $scope.btnUserRegister = ['btn', 'btn-default'];
      $scope.btnUserLogin = ['btn', 'btn-default'];

      $scope.userStatus = 'no logged in user';
      $scope.user = null;

      $scope.apply = function ()
      {
        $scope.$apply(function ()
                      {/*angular js model update*/
                      });
      };

      $scope.clearLoginFields = function ()
      {
        $scope.userName = "";
        $scope.userPassword = "";
      };

      $scope.onUserCreate = function (result)
      {
        var message = "account for '" + $scope.userName;

        if (result) {
          message = message + "' successfully created";
        }
        else {
          message = message + "' was not created";
        }

        $scope.userStatus = message;

        $scope.apply();
      };

      $scope.onUserCreate.onfail = function (error)
      {
        alert("user not created due to: " + error);
      };

      $scope.createUser = function ()
      {
        $scope.client.query("/auction-admin-session",
                            "createUser",
                [$scope.userName, $scope.userPassword],
                            $scope.onUserCreate);
      };

      $scope.onUserLogin = function (result)
      {
        console.log("login result: " + result);

        var message = "'" + $scope.userName;

        if (result) {
          message = message + "' successfully logged in";
          $scope.user = user;
        }
        else {
          message = message + "': login rejected";
          $scope.user = null;
        }

        $scope.userStatus = message;

        $scope.clearLoginFields();

        $scope.apply();
      };

      $scope.onUserLogin.onfail = function (error)
      {
        alert(error);
      };

      $scope.login = function ()
      {
        $scope.client.query("/auction-admin-session",
                            "login",
                [$scope.userName, $scope.userPassword],
                            $scope.onUserLogin);
      };

      $scope.onUserLogout = function (result)
      {
        $scope.user = null;
        $scope.auctions = [];
        $scope.userStatus = "no user logged in";
        $scope.createAuctionMessage = "";

        $scope.apply();
      };

      $scope.onUserLogout.onfail = function (error)
      {
        console.log(error);

        alert(error);
      };

      $scope.logout = function ()
      {
        $scope.client.query("/auction-admin-session",
                            "logout",
                [], $scope.onUserLogout);
      };

      $scope.onAuctionCreated = function (auction)
      {
        $scope.auctions.push({
          'id': auction._id,
          'title': auction._title,
          'price': auction._startingBid,
          'state': auction._state
        });

        $scope.createAuctionMessage = "Created auction '"
                                      + auction._title
                                      + "' at starting price '"
                                      + auction._startingBid
                                      + "'";

        $scope.apply();
      };

      $scope.onAuctionIdCreated = function (auctionId)
      {
        $scope.addMyAuction(auctionId);
        $scope.subscribeAuction(auctionId);
      };

      $scope.addMyAuction = function (id)
      {
        $scope.client.query("/auction-admin-session", "getAuction", [id],
                            $scope.onAuctionCreated);
      };

      $scope.subscribeAuction = function (id)
      {
        $scope.client.send("/auction-admin-session",
                           "addAuctionListener",
                [id]);
      };

      $scope.onAuctionListener = function (auction)
      {
        var price = auction._startingBid;
        var state = auction._state;

        if (auction._bids.length > 0)
          price = auction._bids[auction._bids.length - 1]._bid;

        $scope.updateAuctionModels($scope.auctions, auction, price, state);

        $scope.apply();
      };

      $scope.updateAuctionModels = function (auctions, auction, price, state)
      {
        for (var i in auctions) {
          var a = auctions[i];
          if (auction._id == a.id) {
            $scope.$apply(function ()
                          {
                            a.price = price;
                            a.state = state;
                          });
            break;
          }
        }
      };

      $scope.onSearchResult = function (auction)
      {
        console.log("onSearchResult: " + JSON.stringify(auction));

        var price = auction._startingBid;

        if (auction._bids.length > 0)
          price = auction._bids[auction._bids.length - 1]._bid;

        $scope.auctions.push({
          'id': auction._id,
          'title': auction._title,
          'price': price,
          'state': auction._state
        });

        $scope.apply();
      };

      $scope.onSearch = function (auctionIds)
      {
        console.log("onSearchComplete: " + JSON.stringify(auctionIds));

        if (auctionIds === undefined || auctionIds === null) {
        }
        else if (Array.isArray(auctionIds)) {
          for (var i in auctionIds) {
            var auctionId = auctionIds[i];
            $scope.onSearchAuction(auctionId);
          }
        }
        else {
          console.log("onSearchComplete 2");
          $scope.onSearchAuction(auctionIds);
        }
      };

      $scope.onSearchAuction = function (auctionId)
      {
        console.log("onSearchAuction: " + JSON.stringify(auctionId));

        $scope.client.query("/auction-admin-session",
                            "getAuction", [auctionId], $scope.onSearchResult);
        $scope.subscribeAuction(auctionId);
      };

      $scope.search = function (searchTitle)
      {
        $scope.client.query("/auction-admin-session", "search", [searchTitle],
                            $scope.onSearch);
      };

      $scope.refund = function (id)
      {
        $scope.client.query("/auction-admin-session", "refund", [id]);
      };

      $scope.displayAuctionData = function (auction)
      {
        $scope.auctionData = JSON.stringify(auction, null, 2);
        $scope.apply();
      };

      $scope.displayWinnerData = function (user)
      {
        console.log(user);

        $scope.winnerData = JSON.stringify(user, null, 2);
        $scope.apply();
      };

      $scope.displayTransactionState = function (state)
      {
        console.log(state);

        $scope.txState = JSON.stringify(state, null, 2);
        $scope.apply();
      };


      $scope.display = function (index)
      {
        var id = $scope.auctions[index].id;

        $scope.client.query("/auction-admin-session",
                            "getAuction",
                [id], $scope.displayAuctionData);

        $scope.client.query("/auction-admin-session",
                            "getWinner",
                [id], $scope.displayWinnerData);

        $scope.client.query("/auction-admin-session",
                            "getSettlementState",
                [id], $scope.displayTransactionState);
      };

      var host = window.location.host;

      var url = "ws://" + host + "/s/web";
      $scope.client = new Jamp.BaratineClient(url);

      var listener = $scope.client.createListener();

      listener.onAuctionUpdate = function (auctionData)
      {
        $scope.onAuctionListener(auctionData);
      };

      listener.onAuctionClose = function (auctionData)
      {
        $scope.onAuctionListener(auctionData);
      };

      $scope.client.onSession = function ()
      {
        console.log("on-session:");
        $scope.client.query("/auction-admin-session",
                            "setListener",
                [listener]);
      };

      if (url.search("http") === 0) {
        $scope.client.query("/auction-admin-session",
                            "setListener",
                [listener]);
      }
    });

  </script>
</head>

<body ng-controller="AuctionListCtrl" class="container ">
<br><br>

<form ng-class="userForm" role="form">
  <div class="form-group">
    <input ng-model="userName" type="text" class="form-control" id="user"
           placeholder="Enter user name">
  </div>
  <div class="form-group">
    <input ng-model="userPassword" type="password" class="form-control"
           id="password"
           placeholder="Password">
  </div>
  <button type="submit" ng-class="btnUserLogin"
          ng-click="login()">Sign in
  </button>
  <button type="submit" ng-class="btnUserRegister"
          ng-click="createUser()">
    Register
  </button>

  <button type="submit" class="btn btn-default"
          ng-click="logout()" ng-disabled="! user ">
    Logout
  </button>

</form>

<br>

<div>
  <p>User: {{userStatus}}</p>
</div>
<br>

<div>
  <form ng-class="userForm" role="form">
    <div class="form-group">
      <label class="sr-only" for="auctionSearchTitle">Auction
        Title</label>
      <input ng-model="searchTitle" type="text" class="form-control"
             id="auctionSearchTitle"
             placeholder="Search Auction Title">
    </div>
    <button type="submit" class='btn btn-default'
            ng-disabled="! user || ! searchTitle"
            ng-click="search(searchTitle)">
      Search
    </button>
  </form>
</div>
<br>
<br>

<table border="1" class="table table-striped">
  <thead>
  <th>ID</th>
  <th>Title</th>
  <th>Current Bid</th>
  <th>Action</th>
  <th>State</th>
  </thead>
  <tbody>
  <tr ng-repeat="auction in auctions">
    <td>{{auction.id}}</td>
    <td><a ng-click="display($index)">{{auction.title}}</a></td>
    <td>{{auction.price}}</td>
    <td>
      <button class='btn btn-link btn-xs'
              ng-disabled="(auction.state != 'SETTLED')"
              ng-click="refund(auction.id)">Refund
      </button>
    </td>
    <td>{{auction.state}}</td>
  </tr>
  </tbody>
</table>

<div id="auctionData">Selected auction:<br>
  <pre>{{auctionData}}</pre>
</div>

<div id="winnerData">Auction winner:<br>
  <pre>{{winnerData}}</pre>
</div>

<div id="txState">Transaction State:<br>
  <pre>{{txState}}</pre>
</div>

</body>
</html>
